.hero {
  padding-bottom: 7.5vw;
  overflow: hidden;
}

.heroForm {
  max-width: 37vw;
  background: #FFFFFF;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 2vw;
  margin-left: auto;
}

.heroForm h2 {
  font-size: 107px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.8;
}

.heroForm h3 {
  font-size: 86px;
  color: #505D6B;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.8;
}

.heroBtn {
  width: 100%;
  background: linear-gradient(to bottom, #FF5252, #FF3D3D);
  border: 4px solid #000000;
  border-radius: 1.1vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.heroBtn:hover, .heroBtn:active {
  background: linear-gradient(to bottom, #FF3D3D, #FF2828);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

.inputWrapper {
  position: relative;
  margin-bottom: 1.7vw;
}

.inputIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.heroForm :global .form-control {
  padding: 1.1vw 1.1vw 1.1vw 45px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.auditedBy {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.trustSafety {
  margin-bottom: 15px;
}

.auditLogos {
  margin-bottom: 20px;
}

.marquee {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 0;
  display: flex;
  width: 110%;
  margin-left: -5%;
}

.marquee2 {
  transform: rotate(3.39deg);
}
.marquee1 {
  transform: rotate(-0.62deg);
  margin-bottom: -55px;
  margin-top: 6vw;
}

/* Hero community styling */
.heroCommunity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroCommunity :global(.socials) {
  justify-content: center !important;
}

@media screen and (max-width: 1690px) {
  .heroForm h2 {
    font-size: 90px;
  }
  .heroForm h3 {
    font-size: 70px;
  }
}
@media screen and (max-width: 1490px) {
  .heroForm h2 {
    font-size: 70px;
  }
  .heroForm h3 {
    font-size: 60px;
  }
}

@media screen and (max-width: 991px) {
  .heroForm {
    margin-top: 160px;
    max-width: 475px;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .heroForm {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 490px) {
  .heroForm {
    margin-top: 100px;
  }
  .heroForm h2 {
    font-size: 45px;
  }
  .heroForm h3 {
    font-size: 35px;
  }
}