.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin-bottom: 15px;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #FCCC00;
  border: 2px solid #000000;
  box-shadow: -1px 3px 0px #000000;
  border-radius: 12px;
  transition: 0.3s all;
}

.socialButton:hover {
  transform: translateY(-2px);
  box-shadow: -1px 5px 0px #000000;
}

.socialButton:active {
  transform: translateY(1px);
  box-shadow: -1px 2px 0px #000000;
}

/* This wrapper class will help with mobile and desktop centering */
.communityWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.memberCount {
  font-size: 16px;
  background-color: #FFCF00;
  border-radius: 20px;
  padding: 3px 10px;
  margin-left: 8px;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
}

@media screen and (min-width: 767px) {
  .big.socials a {
    width: 55px;
    height: 55px;
  }

  .big.socials a svg {
    width: 34px;
    height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .communityWrapper {
    margin-top: 15px;
  }
  
  .socials a {
    transform: scale(1.05);
  }
}